{% extends "nav.html" %}

{% block title %}Campo Create{% endblock title %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 mt-4">
      <div class="shadow p-4 mb-5 bg-body rounded">
        <h4 class="text-center">Adicionar um novo campo</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group row">
            <label for="{{ form.title.id_for_label }}" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
              {{ form.title }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.image.id_for_label }}" class="col-sm-2 col-form-label">{{ form.image.label }}</label>
            <div class="col-sm-10">
              {{ form.image }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.preco_hora.id_for_label }}" class="col-sm-2 col-form-label">{{ form.preco_hora.label }}</label>
            <div class="col-sm-10">
              {{ form.preco_hora }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.categorie.id_for_label }}" class="col-sm-2 col-form-label">{{ form.categorie.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.categorie }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.location.id_for_label }}" class="col-sm-2 col-form-label">{{ form.location.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.location }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.content.id_for_label }}" class="col-sm-2 col-form-label">{{ form.content.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.content }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.monday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.monday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.monday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.monday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.monday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.monday_closing }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.tuesday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.tuesday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.tuesday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.tuesday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.tuesday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.tuesday_closing }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.wednesday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.wednesday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.wednesday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.wednesday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.wednesday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.wednesday_closing }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.thursday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.thursday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.thursday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.thursday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.thursday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.thursday_closing }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.friday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.friday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.friday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.friday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.friday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.friday_closing }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.saturday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.saturday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.saturday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.saturday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.saturday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.saturday_closing }}
            </div>
          </div>

            <div class="form-group row">
            <label for="{{ form.sunday_opening.id_for_label }}" class="col-sm-2 col-form-label">{{ form.sunday_opening.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.sunday_opening }}
            </div>
          </div>

          <div class="form-group row">
            <label for="{{ form.sunday_closing.id_for_label }}" class="col-sm-2 col-form-label">{{ form.sunday_closing.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.sunday_closing }}
            </div>
          </div>


          <div class="form-group row">
            <label for="{{ form.closed_days.id_for_label }}" class="col-sm-2 col-form-label">{{ form.closed_days.label_tag }}</label>
            <div class="col-sm-10">
              {{ form.closed_days }}
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-success mx-2" type="submit">Create</button>
            <a href="{% url 'list-categories' %}" class="btn btn-success">No, go back</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}