{% extends "nav.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% load static %}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-left-short"></i> Já conheces a nossa app?</h5>
            <p class="card-text">Instala já a nossa app!</p>
        </div>
    </div>
</div>

<div class="container mt-5" id="tabela">
    <div class="card mx-auto" style="width: 30rem; background-color: #e1f7ed;">
        <div class="card-body">
            <div class="text-center">
                <p id="category-title"> Que tipo de desporto queres reservar?:</p>
            </div>

            <ul class="list-group list-group-flush" id="categories-list">
                {% for category in categories %}
                <a href="" style="background-color: #e1f7ed;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category-item"
                    data-category="{{ category.id }}">
                    {{ category.title }}
                    <span class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                        </svg>
                        <i class="bi bi-caret-right"></i>
                    </span>
                </a>
                {% endfor %}
            </ul>

            <ul class="list-group list-group-flush" id="localizacoes-list" style="display: none;">
            </ul>

            <!-- Date picker input (initially hidden) -->
            <div class="mt-3" id="datepicker-container" style="display: none;">
                <label for="datepicker">Escolha uma data:</label>
                <input type="text" class="form-control" id="datepicker" placeholder="Clique para escolher uma data">
                <br>
                <a class="btn btn-primary text-white" id="search-button"> Procurar</a>
            </div>

            <div id="search-results-container" style="display: none;">

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<script>
    const categoriesList = $("#categories-list");
    const localizacoesList = $("#localizacoes-list");
    const categoryTitle = $("#category-title");
    const datepickerContainer = $("#datepicker-container");
    const datepickerInput = $("#datepicker");
    const searchButton = $("#search-button");
    const searchResultsContainer = $("#search-results-container");

    let categoryId;
    let localizacaoId;


    // Function to load localizacoes for a category
    function loadLocalizacoes(categoryId) {
        $.ajax({
            url: `/get_localizacoes/${categoryId}/`,
            method: "GET",
            success: function (data) {
                localizacoesList.empty();
                if (data.length > 0) {
                    data.forEach(function (localizacao) {
                        const localizacaoItem = $("<a href='' style='background-color: #e1f7ed;' class='list-group-item list-group-item-action d-flex justify-content-between align-items-center category-item'></a>");
                        localizacaoItem.data("localizacao", localizacao.id);
                        localizacaoItem.text(localizacao.title);
                        localizacaoItem.append("<span class='text-muted'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-right' viewBox='0 0 16 16'><path d='M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z' /></svg><i class='bi bi-caret-right'></i></span>");
                        localizacoesList.append(localizacaoItem);
                    });

                    localizacoesList.show();
                    categoryTitle.html('<a href="" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center category-item">'
                        + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">'
                        + '<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>'
                        + '<i class="bi bi-arrow-left"></i></a> Escolhe a localizacao pretendida');
                    datepickerContainer.hide();  // Hide the date picker input

                } else {
                    localizacoesList.show();
                    localizacoesList.html("<p>Por enquanto ainda não existem localizacoes para este desporto.<br>Fica atento a novidades!</p>");
                    categoryTitle.html('<a href="" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center category-item">'
                        + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">'
                        + '<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>'
                        + '<i class="bi bi-arrow-left"></i></a> Voltar para as categorias');
                    datepickerContainer.hide();  // Hide the date picker input
                }

                // Hide the categories list
                categoriesList.hide();
            },
            error: function () {
                console.log("Error loading localizacoes.");
            }
        });
    }

    // Handle localizacao item clicks
    localizacoesList.on("click", ".category-item", function (e) {
        e.preventDefault();
        // Hide the list of localizacoes when a localizacao is clicked
        localizacoesList.hide();
        categoryTitle.html('<a href="" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center category-item">'
                        + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">'
                        + '<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>'
                        + '<i class="bi bi-arrow-left"></i></a> Escolhe a data pretendida');
         datepickerContainer.show();
        localizacaoId = $(this).data("localizacao");

        // Perform actions related to localizacao click, e.g., show date picker
        console.log("Localizacao clicked:", localizacaoId);
    });

    // Handle category item clicks
    categoriesList.on("click", ".category-item", function (e) {
        e.preventDefault();
        categoryId = $(this).data("category");
        loadLocalizacoes(categoryId);
    });

    function loadCategories() {
        categoriesList.show();
        localizacoesList.hide();
        categoryTitle.html('<p id="category-title"> Que tipo de desporto queres reservar?:</p>');
        // Hide the date picker input when going back to categories
        datepickerContainer.hide();
    }

    // Add a click event handler for the back icon
    categoryTitle.on("click", ".bi-arrow-left", function (e) {
        e.preventDefault();
        loadCategories();
        searchResultsContainer.hide();
    });

    // Initialize the date picker
    datepickerInput.datepicker({
        format: 'dd-mm-yyyy',  // Adjust the format as needed
        autoclose: true,
        todayHighlight: true
    });

     searchButton.on("click", function (e) {
        e.preventDefault();

        // Retrieve selected category, localizacao, and date
        const selectedCategoryId = categoryId; /*MUDAR AQUI*/
        const selectedLocalizacaoId = localizacaoId;
        const selectedDate = datepickerInput.datepicker("getDate");


        // Make an AJAX request to fetch Campos based on the search criteria
        $.ajax({
            url: "/search_campos/",
            method: "GET",
            data: {
                category_id: selectedCategoryId,
                localizacao_id: selectedLocalizacaoId,
                date: selectedDate.toISOString()  // Convert date to ISO format
            },
            success: function (data) {
                // Update the search results container with the fetched Campos
                datepickerContainer.hide();

    const camposData = data.matching_campos;

    let htmlContent = '';
    camposData.forEach(function (campo) {
        htmlContent += `<div class="container text-center rounded my-4" ">`;
        htmlContent += '<div class="row no-gutters justify-content-center">'; // Remove row-cols-2 class

        // Left column with image
        htmlContent += '<div class="col-6 p-0">';
        htmlContent += '<div class="image-container">';
        // Replace the image source with the actual path or URL
        console.log("Imagem na home.html", campo.image)
        htmlContent += `<img src="${campo.image.url}" class="img-fluid rounded" width="100%" height="60%">`;
        htmlContent += '</div>';
        htmlContent += '</div>';

        // Right column with Campo information
        htmlContent += '<div class="col-6 p-0">';
        htmlContent += '<div class="container mx-auto">';
        htmlContent += `<h3>${campo.title}</h3>`;
        htmlContent += '<p>Preço por Hora:</p>';
        htmlContent += `<p>${campo.preco_hora} €</p>`;
        htmlContent += '<p>Horários disponíveis:</p>';

        // Check if slots are available
        if (campo.slots.length > 0) {
            let slotsCounter = 0;
            htmlContent += '<div class="btn-group" role="group" aria-label="Slots">';

            campo.slots.forEach(function (slot, index) {
                // Check if 5 slots have already been displayed in the current row
                if (slotsCounter > 0 && slotsCounter % 5 === 0) {
                    // Close the current btn-group div and start a new one
                    htmlContent += '</div>';
                    htmlContent += '<div class="btn-group mt-2" role="group" aria-label="Slots">';
                }

                htmlContent += `
                    <button type="button" class="btn btn-primary slot-button" data-toggle="modal" data-target="#slotModal" style="margin-right: 8px;">
                        ${slot.start_time}
                    </button>`;

                slotsCounter++;
            });

            htmlContent += '</div>'; // Close the last btn-group div
        } else {
            htmlContent += '<p>No available slots for the selected date.</p>';
        }

        htmlContent += '</div>';
        htmlContent += '</div>';
        htmlContent += '</div>';
    });
                console.log(camposData)
                searchResultsContainer.show();
                searchResultsContainer.html(htmlContent);
            },
            error: function () {
                console.log("Error fetching Campos from the server.");
            }
        });
    });


</script>

{% endblock content %}
