{% extends "nav.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-left-short"></i> Já conheces a nossa app?</h5>
            <p class="card-text">Instala já a nossa app!</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <div class="text-center">
                <p id="category-title"><i class="bi bi-arrow-left-short"></i> Que tipo de desporto queres reservar?:</p>
            </div>

            <ul class="list-group list-group-flush" id="categories-list">
                {% for category in categories %}
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category-item"
                    data-category="{{ category.id }}">
                    {{ category.title }}
                    <span class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                        </svg>
                        <i class="bi bi-caret-right"></i>
                    </span>
                </a>
                {% endfor %}
            </ul>

            <ul class="list-group list-group-flush" id="localizacoes-list" style="display: none;">
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const categoriesList = $("#categories-list");
    const localizacoesList = $("#localizacoes-list");
    const categoryTitle = $("#category-title");

    // Function to load localizacoes for a category
    function loadLocalizacoes(categoryId) {
        $.ajax({
            url: `/get_localizacoes/${categoryId}/`,
            method: "GET",
            success: function (data) {
                localizacoesList.empty();
                if (data.length > 0) {
                    data.forEach(function (item) {
                        const localizacaoItem = $("<li class='list-group-item d-flex justify-content-between align-items-center localizacao-item'></li>");
                        localizacaoItem.data("localizacao", item.id);
                        localizacaoItem.text(item.title);
                        localizacoesList.append(localizacaoItem);
                    });
                    localizacoesList.show();
                    categoryTitle.html('<i class="bi bi-arrow-left-short"></i> Escolhe a localizacao'); // Update the text
                } else {
                    // Handle the case when no locations are found for the category
                    console.log("No locations found for the selected category.");
                }

                // Hide the categories list
                categoriesList.hide();
            },
            error: function () {
                // Handle any errors here
                console.log("Error loading localizacoes.");
            }
        });
    }

    // Handle category item clicks
    categoriesList.on("click", ".category-item", function (e) {
        e.preventDefault(); // Prevent the default behavior
        const categoryId = $(this).data("category");
        loadLocalizacoes(categoryId);
    });
</script>

{% endblock content %}
