{% extends "nav.html" %}

{% block content %}
    {% load static %}

<body>
<div class="container text-center rounded" style="background-color: rgba(13, 118, 139, 0.1);" >
    <div class="row row-cols-1">
        <div class="col fs-1 fw-bold">Parcerias</div>
    </div>
  <div class="row row-cols-3">
    <div class="col-4">
        <div class="image-container">
            <img src="{% static 'images/mulher.png' %}" class="img-fluid" width="20%" height="20%" >
        </div>
        <br>
        <div class="container">
            <p class="fw-bold fs-3"> Ana Nogueira</p>
            <p class="fw-bold fs-6"> Jogadora profissional de padel </p>
            <p class="fw-bold fs-6">Ranking mais elevado: No. 383</p>
        </div>
    </div>
    <div class="col-4">
        <div class="image-container">
            <img src="{% static 'images/homem.png' %}" class="img-fluid" width="20%" height="20%" >
        </div>
        <br>
        <div class="container">
            <p class="fw-bold fs-3"> João Sousa</p>
            <p class="fw-bold fs-6"> Jogador profissional de ténis </p>
            <p class="fw-bold fs-6">Ranking mais elevado: No. 28</p>
        </div>
    </div>
    <div class="col-4">
        <div class="image-container">
            <img src="{% static 'images/homem.png' %}" class="img-fluid" width="20%" height="20%" >
        </div>
        <br>
        <div class="container">
            <p class="fw-bold fs-3"> Nuno Borges</p>
            <p class="fw-bold fs-6"> Jogador profissional de ténis </p>
            <p class="fw-bold fs-6">Ranking mais elevado: No. 63</p>
        </div>
    </div>
  </div>
    <br>
    <br>
</div>

</body>
{% endblock content %}