{% extends "nav.html" %}

{% block content %}
    {% load static %}

<body>
<div class="container rounded" style="background-color: rgba(13, 118, 139, 0.1);" >
    <div class="row row-cols-1 text-center">
        <div class="col fs-1 fw-bold">Quem somos</div>
    </div>
  <div class="row row-cols-2 no-gutters justify-content-center">
    <div class="col-6 p-0">
        <div class="image-container">
            <img src="{% static 'images/tenis.jpg' %}" class="img-fluid rounded" width="100%" height="60%" >
        </div>
    </div>
      <div class="col-6 p-0">
        <div class="container mx-auto">
            <p class="fw-bold text-center"> Somos estudantes do ISCTE-IUL que criaram um serviço de aluguer de campos desportivos, que melhora de uma forma impactante a experiência de utilização dos desportistas que recorrem regularmente a este tipo de serviço.</p>
        </div>
    </div>
  </div>
    <div class="row row-cols-2 no-gutters justify-content-center">
    <div class="col-6 p-0">
        <div class="container mx-auto">
            <p class="fw-bold text-center"> Num mundo em que cada vez mais nos deparamos processos mais automatizados, consideramos fulcral este tipo de atividade seguir e evoluir com as tendências. Tal ideia surgiu devido ao nosso uso pessoal destas instalações, em que imensas vezes nos causaram atrasos no tempo de jogo, e também erros nas reservas, por ser tudo tratado manualmente. Como tal decidimos criar esta solução com vista a otimizar a experiência do utilizador de reserva e utilização de recintos desportivos.</p>
        </div>
    </div>
    <div class="col-6 p-0">
        <div class="image-container">
            <img src="{% static 'images/futeboll.jpg' %}" class="img-fluid rounded" width="100%" height="90%" >
        </div>
    </div>
  </div>
    <div class="row row-cols-2 no-gutters justify-content-center">
    <div class="col-6 p-0">
        <div class="image-container">
            <img src="{% static 'images/padel.jpg' %}" class="img-fluid rounded" width="100%" height="90%" >
        </div>
    </div>
      <div class="col-6 p-0">
        <div class="container mx-auto">
            <p class="fw-bold text-center"> DESBLOQUEIA O JOGO</p>
        </div>
    </div>
  </div>

</div>
<br>
</body>
{% endblock content %}