{% extends "nav.html" %}

{% block content %}
    {% load static %}

<body>
<div class="container-md text-center ">
    <div class="row justify-content-md-center mx-auto ">
        <!-- Left Column - Form -->
        <div class="col-5 p-0" style="background-color: #e1f7ed;">
            <form action="" method="post">
                {% csrf_token %}
                <br>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <label for="usernamelogin"><b>Nome de Utilizador:</b></label>
                    <br>
                    <input type="text" class="form-group rounded col-md-6 border-0" id="usernamelogin" name="usernamelogin" required>
                </div>
                <br>
                <div class="form-group text-center">
                    <label for="passwordlogin"><b>Password:</b></label>
                    <br>
                    <input type="password" class="form-group rounded col-md-6 border-0" id="passwordlogin" name="passwordlogin" required>
                </div>
                <br>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <br>
                <div class="text-left">
                    <p class="fw-bold">Ainda não tem conta? <a href="{% url 'register_user' %}">Registe-se aqui</a></p>
                </div>
            </form>
        </div>

        <!-- Right Column - Image -->
        <div class="col-md-auto p-0">
            <div class="image-container">
                <img src="{% static 'images/login.jpg' %}" class="img-fluid" alt="Login Image" >
            </div>
        </div>
    </div>
</div>





<div class="container text-center">
    {% if messages %}
        {% for messages in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ messages }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
                {% endif %}
            </div>
</div>

</body>
{% endblock content %}