{% extends "nav.html" %}
{% block title %}User Info{% endblock title %}
{% block content %}

{% load static %}

<div class="container text-center rounded" style="background-color: rgba(13, 118, 139, 0.1);">
    <div class="row row-cols-1">
        <div class="col fs-1 fw-bold">Meu Perfil</div>
    </div>
    <div class="row row-cols-2">
        <div class="col-3">
            <div class="image-container">
                {% if user.account.profile_image.url %}
                    <img src="{{ user.account.profile_image.url }}" class="img-fluid" width="150" height="150" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/homem.png' %}" class="img-fluid" width="40%" height="40%">
                {% endif %}
            </div>
            <br>
            <div class="container">
                <a href="{% url 'edit_user' %}" class="btn btn-primary text-white">Editar Perfil</a>
                <br>
                <br>
                <p class="fs-6"> Jogos Jogados: </p>
                <p class="fs-6"> Nome: {{ user.first_name }} {{ user.last_name }}</p>
                <p class="fs-6"> Username: {{ user.username }}</p>
                <p class="fs-6"> Email: {{ user.email }}</p>
            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <p class="fw-bold fs-3">Últimas reservas</p>
            </div>
            <br>
            <div class="image-container">
                {% if old_reservas %}
                    <ul>
                        {% for reserva in old_reservas %}
                            <li>
                                <p>{{ reserva.date }}: {{ reserva.description }}</p>
                                <!-- Add any other fields you want to display -->
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No old reservations found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
